html, body, #mapContainer {
	height: 100%;
	margin: 0;
	padding: 0;
}

#infoWindow {
	padding-left: 2em;
}

#infoWindow h2 {
	color: #2952a2;
	text-align: right;
	margin-bottom: 0;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: auto 100%;
	padding: 0 0 2em;
	margin-left: -1em;
}

#infoWindow #time_value {
	text-align: right;
	display: block;
	width: 100%;
	margin: -1.7em 0 1.5em;
}

#infoWindow table {
	border-spacing: 0;
	padding: 0;
	margin: 0;
}

#infoWindow th,
#infoWindow td {
	padding: .2em .5em;
}

#infoWindow th {
	text-align: right;
	background-color: #2952a2;
	color: #fff;
}
